*{
    background-color: #fff
}
label{
    color: #0d6db7
}
@font-face {
    font-family: playfairDisplay;
    src: url(/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf);
}
h2{
    font-family: "playfairdisplay";
    text-align: center;
    text-decoration: underline;
    font-weight: 800;



}
form{
    font-style: oblique;
    font-size: 1.2em;
    line-height: 3em;
    text-transform: capitalize;
    text-decoration: underline;
    font-weight: 800;
 
    
}
select
{width: 38em;
    height: 4em;
    text-transform: capitalize;
    border-style: dashed;
    border-color: green;
margin:0.5em;
-webkit-border-radius: 1.2em;
-moz-border-radius: 1.2em;
border-radius: 1.2em;
border: 2px dashed #21c712; /* yahan border mota ho gaya */
  outline: none;
   

}
select:focus{
    border-color:#0d6db7 ;
    outline: none;
}
select:hover{
        border-color:#0d6db7 ;
        outline: none;

}
input[type="text"]{
    width: 38em;
    height: 4em;
    text-transform: capitalize;
    border-style: dashed;
    border-color: green;
margin: 0.2em;
-webkit-border-radius: 1.2em;
-moz-border-radius: 1.2em;
border-radius: 1.2em;


}
input[type="email"]{
    width: 38em;
    height: 4em;
    text-transform: capitalize;
    border-style: dashed;
    border-color: green;
margin: 0.2em;
-webkit-border-radius: 1.2em;
-moz-border-radius: 1.2em;
border-radius: 1.2em;

}
input[
    type=number
]{
    width: 38em;
    height: 4em;
    text-transform: capitalize;
    border-style: dashed;
    border-color: green;
margin: 0.2em;
-webkit-border-radius: 1.2em;
-moz-border-radius: 1.2em;
border-radius: 1.2em;

}
input[
    type=tel
]{
    width: 38em;
    height: 4em;
    text-transform: capitalize;
    border-style: dashed;
    border-color: green;
margin: 0.2em;
-webkit-border-radius: 1.2em;
-moz-border-radius: 1.2em;
border-radius: 1.2em;

}
input[
    type=date
]
{
    width: 38em;
    height: 4em;
    text-transform: capitalize;
    border-style: dashed;
    border-color: green;
margin: 0.2em;
-webkit-border-radius: 1.2em;
-moz-border-radius: 1.2em;
border-radius: 1.2em;
}
input
[type=file]
    {border: 2px,dashed,#0d6db7;


}
input[
    type=file
]:hover{
    border-color: #0d6db7;
    outline: none;

}
    



input:hover{
     border-color:#0d6db7 ;
     outline: none;
}
input[type="text"]:focus {
  border-color: #0d6db7;
  outline: none;
}
